.top{
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}
.topText > .square{
    height: 20px;
    width: 20px;
    background-color: #0B648D;
    align-self: center;
}

.topLeft{
    flex: 3;
}

.topRight{
    flex: 3;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
}
.topListItem > a{
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    color:  #09567A;
}
.topListItem > a:hover{
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    color: #108CC6;
    border-bottom: 1px solid #108CC6;
}
.topText{
    display: flex;
    justify-content: center;
    margin:70px;
    padding: 0;
    list-style: none;
}

.topName{
    display: flex;
    list-style: none;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Righteous', cursive;
    color: #0B648D;
    margin-bottom: 1%;
}

.topTitle{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 10px;
    font-weight: 300;
    font-size: 18px;
    color: #0B648D;
    margin-top:8px;
}