.resume{
    display: flex;
}
.resumeLeft,.resumeRight{
    flex: 2;
}
.resumeCenter{
    flex: 6;
}
.header{
    display: grid;
}
.headerTop{
    flex: 3;
}
.headerBottom{
    flex: 3;
    display: flex;
    margin-bottom: 5%;
}
.square{
    height: 20px;
    width: 20px;
    background-color: blue;
    align-self: center;
}
.resumeTitleList{
    display: flex;
    justify-content: center;
    margin:15%;
    padding: 0;
    list-style: none;
}
.resumeTitle{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Righteous', cursive;
}
.headerBottomLeft{
    flex: 3;
    display: flex;
    justify-content:flex-start;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Righteous', cursive;
}
.headerBottomRight{
    flex: 3;
    display: flex;
    justify-content:flex-end;
}
.button{
    border-radius: 50px;
    background-color: #0a58ca;
    color: white;
    border-color: #0a58ca;
}
.button:hover{
    border-radius: 50px;
    background-color: #e6dace;
    color: #0a58ca;
    border-color: #0a58ca;
}