.resume{
    display: flex;
}
.resumeLeft,.resumeRight{
    flex: 2;
}
.resumeCenter{
    flex: 6;
}
.header{
    display: grid;
}
.headerContent{
    flex: 3;
}
/*Experience and Download CV Button*/
.experience,.education{
    flex: 3;
    display: flex;
    margin-bottom: 5%;
}
.experienceLeft,.educationLeft{
    flex: 3;
    display: flex;
    justify-content:flex-start;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Righteous', cursive;
    color: white;
}
.experienceRight{
    flex: 3;
    display: flex;
    justify-content:flex-end;
}
/*Resume Text and Blue Square*/
.resumeTitleList{
    display: flex;
    justify-content: center;
    margin:15%;
    padding: 0;
    list-style: none;
}
.resumeTitleList > .square{
    height: 20px;
    width: 20px;
    background-color: #8CD4F4;
    align-self: center;
}
.resumeTitle{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Righteous', cursive;
    color: white;
}
/*Button CSS*/
.experienceRight > .button{
    border-radius: 50px;
    background-color: #108CC6;
    color: white;
    border-color: #108CC6;
    width: 150px;
}
.experienceRight > .button:hover{
    border-radius: 50px;
    background-color: #09567a;
    color: white;
    border-color: #108CC6;
}
/*Experience and Education Information*/
.experienceContent,.educationContent{
    background-color: white;
    width: 100%;
    height: 250px;
    display: flex;
    margin-bottom: 10%;
}
.experienceContentLeft,.educationContentLeft{
    flex: 3;
    display: flex;
}
.experienceContentRight,.educationContentRight{
    flex: 3;
    justify-content: center;
    align-items: center;
    display: grid;
    margin: 2%;
}
.experienceCard,.educationCard{
    display: grid;
    border: none;
    background-color:white;
    border-style: none;
    text-align: left;
    place-items: center;
}
.experienceCardHeader,.educationCardHeader{
    color: #108CC6;
}
.experienceCardPosition,.educationCardPosition{
    margin-bottom: 5%;
    color: #0B648D;
}
.experienceCardCompanyName,.educationCardCompanyName{
    margin-bottom: 3%;
    color:#09567A;
    font-size: 15px;
}
.experienceCardCompanyLocation,.educationCardCompanyLocation{
    color:#09567A;
    font-size: 15px;
}
.experienceContent,.educationContent > p{
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #09567A;
}
/*Skillset and Languages*/
.skillset{
    background-color: white;
    width: 100%;
    height: 350px;
    display: grid;
    margin-bottom: 25%;
}
.skillsetTopHeader{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5%;
    color: #0B648D;
}
.skillsetBottomHeader{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5%;
    color: #0B648D;
}
.skillsetTop{
    flex: 3;
    margin-left: 5%;
    margin-top: 5%;
}
.skillsetBottom{
    flex: 3;
    margin-left: 5%;
}
.skillsetTopList{
    margin-right: 25%;
    margin-left: 1%;
}
.skillsetTopListItem{
    font-size: 15px;
}
.skillsetBottomList{
    margin-right: 25%;
    margin-left: 1%;
}
.skillsetBottomListItem{
    font-size: 15px;
}
.skillsetTopListItem > .fas{
    color: #0B648D;
    margin-left: -15%;
    margin-right: 10px;
}
.skillsetTopList > .fas-ul{
    column-count: 2;
    column-gap: 0px;
    list-style: none;
}
.skillsetTopListItem > .fas{
    color: #0B648D;
    margin-left: -15%;
    margin-right: 10px;
}
.skillsetBottomList > .fas-ul{
    column-count: 2;
    column-gap: 0px;
    list-style: none;
}
.skillsetBottomListItem > .fas{
    color: #0B648D;
    margin-left: -15%;
    margin-right: 10px;
}